
<div>

    <h1>第3階段 - Duplicate Data</h1>

    <br/><br/>
    <div >
        <table class="pure-table">
            <thead>
                <tr>
                    <td>Excel行數</td>
                    <td>品號</td>
                    <td>品名</td>
                    <td>價格種類</td>
                    <td>價格日期</td>
                    <td>價格</td>
                    <td>產品類型</td>
                    <td>註解</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in $ctrl.products">
                    <td>{{product.rowIndex}}</td>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price.type}}</td>
                    <td>{{product.price.date}}</td>
                    <td ng-bind="product.price.price|currency:'NT$  '"></td>
                    <td>{{product.type}}</td>
                    <td>{{product.comment}}</td>
                </tr>
            </tbody>
        </table>
        <br/><br/>
        <button class="pure-button pure-button-primary">下載csv</button>
        <button class="pure-button pure-button-primary">回到上傳EXCEL</button>
    </div>

</div>
